<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Article</title>
<link rel="stylesheet" href="/static/css/article.css" type="text/css">
</head>
<body>
  <!-- 前台有详情页和列表页：
列表页：有封面图片，文章标题，发布时间（样式参考主页列表模块）
详情页：有标题，封面图，发布时间，文章正文内容（参考文章详情页）页面底部有一个编辑该文章的链接 ，点击后进入后台对应的文章编辑页

后台能够创建文章和编辑文章：
创建文章和编辑文章复用同一个页面，如果参数中有文章的id,则为编辑状态，否则为新建
该能够修改文章的标题，封面图片（填URL即可），内容（使用百度的ueditor）
UI的样式，根据以上描述按个人理解随意发挥即可 -->
    <!-- <div id="container">container</div>     -->
<div class="article-detail">
    <h1 class="title"><%= articleDetail.title %></h1>
    <div class="info clearfix">
        <a href="javascript:void(0);" class="writer fl"><%= articleDetail.writer %></a>
        <span class="fl">&nbsp;•&nbsp;</span>
        <div class="write-time fl">3小时前</div>
        <span class="fl">&nbsp;•&nbsp;</span>
        <div class="subtitle fl">明星公司</div>
    </div>
    <p class="intro"><%= articleDetail.intro %></p>
    <img src="/static/img/viv.jpg" alt=""/>
    <div class="content"><%- articleDetail.content %></div>
    <a href="/admin/edit/<%= id %>" class="edit">编辑此文章</a>
</div>        
</body>
<!-- <script src="/static/js/react-15.3.1/build/react.js"></script>
<script src="/static/js/react-15.3.1/build/react-dom.js"></script>
<script src="/static/js/react-15.3.1/browser.js"></script>
<script type="text/babel">  
    ReactDOM.render(
        <div className="article-detail">
            <h1 className="title">“Siri之父”分手苹果后创立的Viv Labs，现在归三星了</h1>
            <div className="info clearfix">
                <a href="javascript:void(0);" className="writer fl">肖芸芸</a>
                <span className="fl">&nbsp;•&nbsp;</span>
                <div className="write-time fl">3小时前</div>
                <span className="fl">&nbsp;•&nbsp;</span>
                <div className="subtitle fl">明星公司</div>
            </div>
            <p className="intro">豪掷2亿美元买下这家人工智能公司的三星，马上就会有自己的智能语音助手了，要与苹果Siri和Google Assistant一较高下。</p>
            <img src="/static/img/viv.jpg" alt=""/>
            <div className="content">content</div>
            <a href="javascript:void(0);" className="edit">编辑此文章</a>
        </div>,
        document.getElementById('container')
    );   
</script> -->
</html>
